* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.3s ease-out;
    user-select: none;
    font-family: 'PingFangSC', sans-serif;
}

table {
    border-collapse: collapse;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.92);
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.w {
  width: 93%;
    margin: 0 auto;
}

header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: end;

    h1 {
        white-space: nowrap;
        font-family: 'IMFELLEnglishSC', serif;
        font-size: 60px;
    }

    .search {
        position: relative;
        transform: translateY(-50%);

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-100%,-50%);
            background-color: rgba(245, 245, 245, 0.6);
            border: 1px solid rgba(0,0,0, 0.6);
            border-right: 0;
            border-radius: 10px 0 0 10px;
            height: 2.1rem;
            padding-left: 10px;
        }

        input {
            border: 1px solid rgba(0,0,0, 0.6);
            border-radius: 0 10px 10px 0;
            outline: none;
            width: 15rem;
            height: 2.1rem;
            background-color: rgba(245, 245, 245, 0.6);
            border-left: 0;
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 3rem;
    background: rgba(255, 215, 215, 0.1);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    a {
        color: #000;
        font-size: 20px;
        opacity: 0.5;
        font-weight: 500;
        white-space: nowrap;
    }

    .on {
        border-bottom: 2px solid #000;
        opacity: 1;
        font-weight: 600;
    }
}

section {
    flex: 1;
    padding-top: 2.5rem;
}

#index {
    display: flex;

    .left {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        h1 {
            position: absolute;
            top: 4%;
            font-size: 40px;
            letter-spacing: 9px;
        }

        img {
            height: 70vh;
        }
    }

    .right {
        flex: 0.95;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 215, 215, 0.1);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 2rem 3rem;

        h1 {
            font-size: 40px;
            letter-spacing: 9px;
            margin-bottom: 3rem;
        }

        .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 5rem;

            .list {
                flex: 1;

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 20px;
                    letter-spacing: 1px;
                }

                ul {
                    margin-top: 1.8rem;
                    padding-left: 1.3rem;
                    list-style: square;

                    li {
                        line-height: 2rem;
                        font-size: 14px;
                    }
                }
            }
        }

        .row:nth-last-child(1){
            margin-bottom: 1rem;
        }
    }
}

#museum {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 10px 0 10px;

    h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .major {
        display: flex;
        gap: 4rem;
        padding-bottom: 2rem;

        .left {
            display: flex;
            gap: 18px;

            aside {
                display: flex;
                flex-direction: column;
                padding: 15px 17px;
                font-size: 18px;
                gap: 12px;
                background: rgba(255, 215, 215, 0.1);
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
                border-radius: 15px;
            }

            .menu {
                background: rgba(255, 215, 215, 0.1);
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                padding: 20px 50px;
                font-size: 20px;
            }

            a {
                text-align: center;
                color: #000;
                letter-spacing: 1px;
            }

            .on {
                font-weight: 600;
                border-bottom: 2px solid #000;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: end;
            gap: 1.5rem;

            .search {
                display: flex;
                gap: 3rem;
                align-items: end;


                > div{
                    position: relative;
                }

                input {
                    border-radius: 10px;
                    background: rgba(0,0,0,0.1);
                    outline: none;
                    border: none;
                    font-size: 14px;
                    padding: 6px 10px;
                }

                input::placeholder {
                    text-align: center;
                }

                img {
                    cursor: pointer;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 10px;
                }
            }

            .cards {
                margin-bottom: 1.5rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;

                .card {
                    width: 230px;

                    img {
                        cursor: pointer;
                        width: 100%;
                    }

                    p {
                        padding-top: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

#museum-in1 {
    display: none;

    h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .major {
        margin-top: 1rem;
        display: flex;
        gap: 7rem;

        img {
            width: 60vw;
            height: 30vw;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            margin-top: 2rem;
            font-size: 22px;
        }

        p {
            margin-top: 1rem;
            font-size: 18px;
        }
    }
}

#videos {
    .major {
        margin-top: 2rem;
        padding: 0 2rem;

        h2 {
            font-size: 30px;
            letter-spacing: 1px;
        }

        p {
            color: rgba(0,0,0,0.6);
            font-weight: 400;
        }

        .search {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            align-items: end;

            > div{
                position: relative;
            }

            input {
                width: 23vw;
                border-radius: 10px;
                background: rgba(0,0,0,0.1);
                outline: none;
                border: none;
                font-size: 14px;
                padding: 6px 10px;
            }

            input::placeholder {
                text-align: center;
            }

            img {
                cursor: pointer;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 10px;
            }
        }

        .cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 1rem;

            img {
                width: 23vw;
            }
        }
    }
}

#creative {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 4rem;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input {
            position: relative;

            input {
                width: 25vw;
                border-radius: 10px;
                background: rgba(0,0,0,0.1);
                outline: none;
                border: none;
                font-size: 14px;
                padding: 6px 10px;
            }

            input::placeholder {
                text-align: center;
            }

            img {
                cursor: pointer;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 10px;
            }
        }

        img {
            cursor: pointer;
        }
    }

    .major {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .box {
            display: flex;
            border-radius: 15px;
            gap: 1.6rem;

            img {
                width: 420px;
                border-radius: 15px;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem;
                flex: 1;

                h2 {
                    letter-spacing: 1px;
                    font-size: 28px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 20px;
                }

                .price {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }
}

#community {
    .top {
        display: flex;
        justify-content: space-between;

        .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 0;
            width: 13vw;
            gap: 20px;
            background: rgba(255, 215, 215, 0.2);
            border-radius: 15px;

            span {
                font-size: 20px;
                opacity: 0.3;
            }
        }
    }


    h1 {
        font-size: 28px;
        margin-top: 1rem;
    }

    .img-row {
        margin-top: 1.2rem;
        display: flex;
        align-items: center;
        gap: 6rem;
        text-align: center;
        overflow-x: auto;
        scrollbar-width: none;

        p {
            padding-top: 13px;
            font-size: 20px;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 10px;
        }

        div {
            cursor: pointer;
        }

        div:hover {
            img {
                width: 91px;
                height: 91px;
            }

            p {
                font-weight: bold;
            }
        }
    }

    .cards {
        display: flex;
        width: 80vw;
        gap: 4rem;
        margin: 2rem auto;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 16vw;
            border-radius: 15px;
        }

        p {
            font-size: 14px;
        }
    }
}